<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>吃什么解决器</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-luck-draw@3.4/dist/vue-luck-draw.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
</head>
<body style="background-image: url(./img/memphis-colorful.png);">
<div id="app">
    <div>
        <lucky-wheel
                :blocks="blocks"
                :buttons="buttons"
                :default-style="defaultStyle"
                :prizes="prizes"
                @end="endCallBack"
                @start="startCallBack"
                height="350px"
                ref="LuckyWheel"
                width="350px"></lucky-wheel>
    </div>
    <div>
        <br>
        <br>
        <!-- Button trigger modal -->
        <el-button @click="dialogFormVisible = true" round type="primary">
            自定义
        </el-button>
    </div>

    <el-dialog :visible.sync="dialogFormVisible" center custom-class="customWidth" title="自定义选项" width="30%">
        <el-scrollbar ref="scrollMenuRef" style="height:400px;">
            <transition-group name="list" tag="div">
                <div :key="item.id"
                     class="list-item"
                     v-for="(item, index) in food_list">
                    <el-input placeholder="请输入内容"
                              v-model="food_list[index].name">
                        <template slot="append"><i @click="deleteItem(index)" class="el-icon-delete"></i></template>
                        <template slot="prepend">{{ index + 1 }}</template>
                    </el-input>
                </div>
            </transition-group>
        </el-scrollbar>
        <div style="width: 60%;margin:1% auto;">
            <el-button @click="addItem()" icon="el-icon-plus" size="medium" style="width: 100%"></el-button>
        </div>
        <div class="dialog-footer" slot="footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button @click="shuffle()">shuffle</el-button>
            <el-button @click="save()" type="primary">确 定</el-button>
        </div>
    </el-dialog>
</div>

<script type="module">
    const app = new Vue({
        el: '#app',
        data() {
            return {
                prizes: [],
                food_list_basic: ['焖面', '烤鸭', '盖饭', '驴肉火烧', '寿司', '熏肉大饼', '筋头巴脑', '万达的鸭货', '万达的鸭货'],
                food_list: [],
                defaultStyle: {
                    fontColor: '#d64737',
                    fontSize: '14px'
                },
                blocks: [
                    {padding: '13px', background: '#d64737'}
                ],
                buttons: [
                    {radius: '50px', background: '#d64737'},
                    {radius: '45px', background: '#fff'},
                    {radius: '41px', background: '#f6c66f', pointer: true},
                    {
                        radius: '35px', background: '#ffdea0',
                        imgs: [{src: './img/button.png', width: '65%', top: '-50%'}]
                    }
                ],
                dialogFormVisible: false
            }
        },
        methods: {
            addItem() {
                this.food_list.push({
                    name: '',
                    id: _.uniqueId()
                });
                this.$nextTick(() => {
                    this.$refs['scrollMenuRef'].wrap.scrollTop = this.$refs['scrollMenuRef'].wrap.scrollHeight;
                })
            },
            shuffle() {
                this.food_list = _.shuffle(this.food_list);
            },
            deleteItem(index) {
                this.food_list.splice(index, 1);
            },
            save() {
                this.food_list = this.food_list.filter(item => item.name);
                this.getPrizesList();
                this.dialogFormVisible = false;
            },
            getPrizesList() {
                const prizes = []
                this.food_list.forEach((item, index) => {
                    prizes.push({
                        title: item.name,
                        background: index % 2 ? '#f9e3bb' : '#f8d384',
                        fonts: [{text: item.name, top: '10%'}],
                    })
                })
                this.prizes = prizes;
            },
            startCallBack() {
                this.$refs.LuckyWheel.play();
                setTimeout(() => {
                    this.$refs.LuckyWheel.stop(Math.random() * this.food_list.length >> 0)
                }, 3000)
            },
            endCallBack(prize) {
                swal("Good job!", `恭喜你选中【${prize.title}】`, "success");
            }
        },
        created() {
            this.food_list_basic.forEach(it => {
                this.food_list.push({
                    id: _.uniqueId(),
                    name: it
                });
            })
        },
        mounted() {
            this.getPrizesList();
        }
    });
</script>
</body>
<style>
    #app {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }

    .el-scrollbar__wrap {
        overflow-x: hidden !important;
    }

    .customWidth {
        min-width: 350px;
    }

    .list-item {
        margin: 1% auto;
        transition: all 0.5s;
        width: 60%;
    }

    .list-enter, .list-leave-to {
        opacity: 0;
        transform: translateY(30px);
    }

    .list-leave-active {
        position: absolute;
    }
</style>
</html>
